@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;400&amp;display=swa");

/* 여기어떄 잘난체 */
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.hidden {display: none;}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #CFFF49;
  border: 1px solid #000;
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  color: #222;
  font-size: 1.6rem;
  line-height: 1.6;
}
body.hidden {
  overflow: hidden;
}
.h2, .h3, .h4, .h5 {
  font-family: 'SOGANGUNIVERSITYTTF';

}
/* 너비 설계 */
.w650 {
  max-width: 650px;
  margin: auto;
}

.w720 {
  max-width: 720px;
  margin: auto;
}

.w880 {
  max-width: 880px;
  margin: auto;
}

.w920 {
  max-width: 920px;
  margin: auto;
}

.w1080 {
  max-width: 1080px;
  margin: auto;
}

/* 여백설계 */
.m40 {
  margin-bottom: 40px;
}

.m60 {
  margin-bottom: 60px;
}

.m80 {
  margin-bottom: 80px;
}

.m100 {
  margin-bottom: 100px;
}

.m120 {
  margin-bottom: 120px;
}

ol,
ul {
  list-style-type: none;
}

a {
  color: #222;
  text-decoration: none;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

input,
select,
textarea,
button {
  font-size: 1.6rem;
  color: #222;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  display: table;
  width: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.wrap {
  max-width: 140rem;
  margin: auto;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.blind,
.sound-only {
  position: absolute;
  left: -9999em;
}

#skip a {
  position: fixed;
  top: -10rem;
  left: 0;
  z-index: 100;
  width: 100%;
  line-height: 4.4rem;
  text-align: center;
  background-color: #fff;
}
#skip a:focus {
  top: 0;
}

.wh,
.wh a,
.wh:hover,
.wh a:hover {
  color: #fff;
}

#yy-hd {
  position: relative;
  top: 0px;
  right: 0;
  z-index: 100;
  width: 100%;
  padding: 0 1rem;
}

.gnb-util-wrap {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 0;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
  cursor: pointer;
  text-align: center;
  z-index: -1;
  z-index: -1;
}
.gnb-util-wrap.active {
  right: 0;
  z-index: 999;
  height: 70vh;
}
.gnb-util-wrap .m-button {
  position: absolute;
  top: 5.4em;
  right: 3em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  background-color: #CFFF49;
  border: none;
  width: 58px;
  height: 58px;
  border: 4px solid #000;
  z-index: 100;
  transition: 0.2s all ease-in;
}
.gnb-util-wrap .m-button span {
  background-color: #000;
  width: 30px;
  height: 4px;
  margin: 3px 0px;
  transition: margin 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81), transform 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81), -webkit-transform 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}
.gnb-util-wrap .m-button span:nth-child(2) {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.gnb-util-wrap .m-button:hover { background-color: #000;}
.gnb-util-wrap .m-button:hover span { background-color: #CFFF49;}

.gnb-util-wrap .m-button.active span {
  margin: -2px;
}
.gnb-util-wrap .m-button.active span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.gnb-util-wrap .m-button.active span:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.gnb-util-wrap .m-button.active span:nth-child(3) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.gnb-util-wrap #yy-gnb {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100vh;
  display: none;
  background-color: #000;
  padding: 12rem 0 2rem 0;
  letter-spacing: -0.1rem;
  vertical-align: middle;
  text-align: center;
  
}
.gnb-util-wrap #yy-gnb.active {
  display: table-cell;
}
.gnb-util-wrap #yy-gnb .depth1 {
  display: block;
  padding: 10px 20px;
}
.gnb-util-wrap #yy-gnb .depth1 > a {
  position: relative;
  text-transform: uppercase;
  display: block;
  font-size: 3.8rem;
  color: #CFFF49;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.gnb-util-wrap #yy-gnb .depth1 > a:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  margin-top: -0.5px;
  background: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.gnb-util-wrap #yy-gnb .depth1 > a:hover:before {
  width: 100%;
  -webkit-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#yy-ft {
  background-color: #fff;
}
#yy-ft .ft-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top:3em;
  font-family: 'GmarketSansMedium';
}
#yy-ft .ft-wrap h2 {
  font-size: 20px;
  color: #000;
  margin: 20px auto;
}
#yy-ft .ft-wrap p {
  color:  #000;
  margin: 30px auto 80px auto;
}

#mouse-pointer {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #eee;
  z-index: 999999999;
  mix-blend-mode: difference;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  /*클릭가능하게하는 코드*/
  pointer-events: none;
}

#mouse-pointer.hover {
  -webkit-transform: scale(3);
          transform: scale(3);
  background-color: #eee;
}

.top-btn {
  display: none;
  position: fixed;
  right: 4rem;
  bottom: 3rem;
  width: 8rem;
  height: 8rem;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  border:4px solid #000;
  background-color: #CFFF49;
  color: #000;
  font-size: 2.2rem;
  font-family: 'yg-jalnan';
  -webkit-transition: opacity 0.2s 0.3s;
  transition: opacity 0.2s 0.3s;
  z-index: 99;
  
}
.top-btn:hover {
  background-color: #000;
  color: #fff;
  opacity: 1 !important; 
}
#lang-select button {
  background: #000;
  border: none;
  font-size: 14px;
  margin-right: 1em;
  margin-top: 1em;
  padding: 0.4em 1em;
  border-radius: 0.5em;
  cursor: pointer;
  color: #CFFF49;
}
#lang-select button:hover {
  text-decoration: underline;
}