/* 회원가입 약관 */
/* 여기어떄 잘난체 */
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
#contactForm {padding: 1em;}
#contactForm > div {}
#contactForm_form {}
#contactForm_term {}
#contactForm_term h3 { font-size: 1.6rem; border-bottom: 1px solid rgba(255,255,255,0.2); line-height: 2;}
#contactForm_term h3 + div { margin: 1rem 0 2rem;}
#contactForm_term dl {}
#contactForm_term dl dt {font-weight: bold;}
#contactForm_term dl dt:before {display: inline-block; content: '-'; margin-right: 0.2em;}
#contactForm_term dl dd {margin-left: 3em;}
#contactForm .contactForm_agree2 {
  border: 0; 
  font-size: 1.36rem; 
  font-weight: 500; color: #fff; 
  border:1px solid #ccc;
  border-radius: 10px; padding: 0.8em ; 
  text-align: center; margin: 1rem 0;
}
.btn_submit {color: #000; height:50px; border-radius: 20px; padding:0 40px; background-color: rgba(255,255,255,0.5); }
.tbl_frm01 {text-align: center;}
.tbl_frm01 label {display: block; float: left; width: 20%; font-weight: bold; line-height: 1.6em;}
.tbl_frm01 input {border-radius: 10px; padding: 0.3em; width: 100%; margin-bottom: 0.5em;}
#contact_submit {border-radius: 10px; width: 16rem;background-color:#CFFF49;  color: #000; cursor: pointer;  font-family: 'yg-jalnan';}
.tbl_frm01 textarea {border-radius:10px; background-color: #fff; padding: 0.3em; width: 100%; margin-bottom: 0.5em; height: 15rem;border: 1px solid #EEE;} 
#contactForm {}
#contactForm .agree_text {display:block; width:100%; line-height:1.6em}


/* alert Bootstrap */
#alertOk, #alertErr { display:none; }
.alert {
  position: absolute;
  left: calc(50% - 20rem);
  top: calc(50% - 3rem);
  width: 40rem;
  height: 6rem;
  line-height: 6rem;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  background-color: pink;
  box-shadow: 0 0 0.8rem rgba(0,0,0,0.5);
}

.alert-success {
}
.alert-success hr {
}
.alert-success .alert-link {
}

.alert-danger {
}
.alert-danger hr {
}
.alert-danger .alert-link {
}

.fade {
  opacity: 0;
  transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);

}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
/* 모바일만 ~767px */
@media screen and (max-width: 767px) {
  #contactForm {padding: 0.5em;}
  #contactForm .agree_text {line-height:1.4em;}
  #contactForm .contactForm_agree2 {font-size: 1.2rem;}
  input, select, textarea, button {font-size: 1.2rem;}
  .tbl_frm01 input {margin-bottom: 0.8em;}
  .btn_submit {height: 40px;}

 }

/* 태블릿부터 768px~ */
@media screen and (min-width: 768px){
	#contactForm_term h3 { font-size: 2.8rem;}
	.tbl_frm01 textarea {height: 20rem;}
}

/* 태블릿만 768px~1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) { } 

/* PC부터 1024px~ */
@media screen and (min-width: 1024px){
}

/* PC부터 1280px~ */
@media screen and (min-width: 1280px){}
